.lit{
    text-align: center;
    position: relative;
   color:rgb(229, 235, 223);
background-color: hsl(189, 82%, 13%);
padding: 3%;
font-size: 60px;
margin-block-start: 0em;
margin-block-end: 0em;
    font-family: Rye;
font-style: normal;
font-weight: bold;
}
.nika{
    width: 100px;
    padding: 12px;
    border-radius: 4px;
 
    
}
.niku{
    padding: 10px;
    width: 90px;
    color: rgb(31, 150, 67);
}
.littu{ padding: 10px;
    width: 90px;
    color: rgb(15, 62, 131);

}

 a{font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 20px;
      font-family: Rye;
}
h2{
    
   
    font-family: Montserrat;
    font-style: normal;
    font-weight: bolder;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #12307D;

}

h4{font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
    
    color: #000000;}
    p{
        font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;

color: #000000;

    }
    img{
        position: relative;
width: 570px;
height: 500px;
left: 373px;
top: 0px;
    }
    div{
        font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;

    }
     .nik{font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 47px;
      
    }
   
.nav :hover{
    color: rgb(182, 207, 224);
}
.nav{
    background-color: hsl(189, 70%, 9%);
    padding: 1%;
}
body{
  margin: 0px;
}
@media only screen and (max-width: 360px) {
    .lit{
        font-size: 24px;
    }
    h2{
        font-size: 15px;
    }
    img{
        width: 300px;
height: 295.84px;
left: 36px;
    }
    .div{
        font-size: 20px;
    }

}

